.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navigation-bar-home {
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.home-image {
  height: 2.5rem;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-text {
  margin-left: var(--dl-space-space-twounits);
}
.home-navlink {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.home-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
}
.home-register {
  color: var(--dl-color-custom-neutral-light);
  border-width: 0px;
  background-color: var(--dl-color-custom-primary1);
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text006 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text007 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text008 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text009 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text010 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-column {
  flex: 1;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: 192px;
  padding-right: 192px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.home-image01 {
  width: 200px;
  display: none;
  object-fit: cover;
}
.home-row {
  flex: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}
.home-column01 {
  flex: 1.5;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: 192px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-title {
  font-size: 48px;
}
.home-subtitle {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-stores {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
.home-image02 {
  width: 200px;
  object-fit: cover;
}
.home-image03 {
  width: 168px;
  height: 55px;
  margin: var(--dl-space-space-halfunit);
  object-fit: contain;
}
.home-phone-image {
  flex: 1;
  width: auto;
  height: 500px;
  align-self: center;
  object-fit: contain;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-row01 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.home-icon10 {
  width: 42px;
  height: 24px;
}
.home-text011 {
  color: var(--dl-color-custom-neutral-dark);
  padding: 0px;
  align-self: center;
  margin-top: 0px;
}
.home-icon12 {
  width: 42px;
  height: 24px;
}
.home-column02 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 192px;
  padding-right: 192px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-text012 {
  font-size: 48px;
  text-transform: uppercase;
}
.home-text013 {
  font-style: normal;
  font-weight: 400;
}
.home-text015 {
  color: var(--dl-color-primary-300);
  font-style: normal;
  font-weight: 700;
}
.home-image04 {
  width: 400px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  border-radius: 18px;
}
.home-text016 {
  font-size: 20px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  line-height: 1.5;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.home-text018 {
  font-style: normal;
  font-weight: 800;
}
.home-text022 {
  font-style: normal;
  font-weight: 700;
}
.home-row02 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
}
.home-column03 {
  flex: 1;
  width: 833px;
  margin: 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-image05 {
  flex: 1;
  width: 200px;
  display: none;
  align-self: center;
  object-fit: cover;
}
.home-text024 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}
.home-text025 {
  font-size: 48px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-fourunits);
  text-transform: capitalize;
}
.home-text026 {
  color: var(--dl-color-danger-300);
  font-size: 48px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-sixunits);
  text-transform: capitalize;
}
.home-li {
  margin-top: var(--dl-space-space-twounits);
}
.home-li1 {
  margin-top: var(--dl-space-space-halfunit);
}
.home-text029 {
  font-size: 32px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.home-text031 {
  text-decoration: line-through;
}
.home-text033 {
  text-decoration: line-through;
}
.home-text036 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.home-image06 {
  flex: 1;
  width: auto;
  height: 500px;
  align-self: center;
  object-fit: contain;
}
.home-column04 {
  flex: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-text039 {
  font-size: 48px;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-text040 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 400;
}
.home-text041 {
  color: var(--dl-color-gray-black);
}
.home-text042 {
  color: var(--dl-color-danger-300);
  font-style: normal;
  font-weight: 700;
}
.home-text043 {
  width: 700px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
}
.home-text046 {
  color: var(--dl-color-success-300);
  font-style: normal;
  font-weight: 700;
}
.home-image07 {
  width: 584px;
  height: 605px;
  object-fit: contain;
}
.home-column05 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 192px;
  padding-right: 192px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-text048 {
  font-size: 48px;
  font-weight: 400;
}
.home-text049 {
  font-style: normal;
}
.home-text050 {
  color: #009393;
  font-weight: 700;
}
.home-image08 {
  width: 400px;
  box-shadow: 0px 10px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  border-radius: 35px;
}
.home-text051 {
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.home-text053 {
  font-style: normal;
  font-weight: 600;
}
.home-text055 {
  color: var(--dl-color-danger-300);
  font-style: normal;
  font-weight: 600;
}
.home-text058 {
  font-style: normal;
  font-weight: 600;
}
.home-text060 {
  color: var(--dl-color-primary-100);
  font-style: normal;
  font-weight: 600;
}
.home-row03 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 192px;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
}
.home-column06 {
  flex: 1;
  width: 833px;
  margin: 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-image09 {
  flex: 1;
  width: 200px;
  display: none;
  align-self: center;
  object-fit: cover;
}
.home-text061 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}
.home-text066 {
  font-size: 48px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-fourunits);
  text-transform: capitalize;
}
.home-text067 {
  color: var(--dl-color-danger-300);
  font-size: 48px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-sixunits);
  text-transform: capitalize;
}
.home-li2 {
  margin-top: var(--dl-space-space-twounits);
}
.home-text068 {
  font-size: 20px;
}
.home-li3 {
  margin-top: var(--dl-space-space-halfunit);
}
.home-text069 {
  font-size: 20px;
}
.home-li4 {
  margin-top: var(--dl-space-space-halfunit);
}
.home-text070 {
  font-size: 20px;
}
.home-text071 {
  font-size: 32px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 600;
}
.home-text074 {
  font-size: 32px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.home-image10 {
  flex: 1;
  width: auto;
  height: 500px;
  align-self: center;
  object-fit: contain;
}
.home-column07 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 192px;
  padding-right: 192px;
  flex-direction: column;
  padding-bottom: 111px;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-text077 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 400;
}
.home-text078 {
  color: var(--dl-color-gray-black);
  font-style: normal;
}
.home-text079 {
  color: var(--dl-color-primary-300);
  font-weight: 700;
}
.home-text080 {
  color: var(--dl-color-primary-300);
  font-weight: 700;
}
.home-text081 {
  color: var(--dl-color-primary-300);
  font-weight: 700;
}
.home-text082 {
  width: 700px;
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.home-row04 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  justify-content: center;
}
.home-row05 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image11 {
  width: auto;
  height: 500px;
  object-fit: cover;
}
.home-image12 {
  width: auto;
  height: 500px;
  object-fit: cover;
}
.home-column08 {
  gap: 0;
  flex: 1;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text083 {
  color: var(--dl-color-danger-300);
  font-size: 28px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}
.home-text084 {
  fill: var(--dl-color-primary-300);
  color: var(--dl-color-primary-300);
  font-size: 150px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 900;
  border-radius: 30px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text085 {
  align-self: stretch;
  text-align: center;
  line-height: 1.75;
}
.home-text086 {
  font-size: 24px;
}
.home-text087 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.home-text088 {
  font-size: 24px;
}
.home-text090 {
  font-size: 20px;
}
.home-text091 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.home-text092 {
  font-size: 20px;
}
.home-text095 {
  font-style: normal;
  font-weight: 700;
}
.home-column09 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: 192px;
  padding-right: 192px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-color: #191c1f;
}
.home-text097 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-sixunits);
}
.home-row06 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.home-column10 {
  flex: 1;
  width: 500px;
  height: 270px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.home-column11 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row07 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: auto;
  display: flex;
  padding: 0px;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.home-icon14 {
  width: 25px;
  height: 25px;
}
.home-text098 {
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-text099 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  text-transform: capitalize;
}
.home-text100 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  line-height: 1.5;
}
.home-icon16 {
  width: 35px;
  height: 35px;
  align-self: flex-end;
}
.home-column12 {
  flex: 1;
  width: 500px;
  height: 270px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.home-column13 {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row08 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: auto;
  display: flex;
  padding: 0px;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.home-icon18 {
  width: 35px;
  height: 35px;
}
.home-text101 {
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-text102 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  text-transform: capitalize;
}
.home-text103 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  line-height: 1.5;
}
.home-icon20 {
  width: 35px;
  height: 35px;
  align-self: flex-end;
}
.home-column14 {
  flex: 1;
  width: 500px;
  height: 270px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.home-column15 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row09 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: auto;
  display: flex;
  padding: 0px;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.home-icon22 {
  width: 35px;
  height: 35px;
}
.home-text104 {
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-text105 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  text-transform: capitalize;
}
.home-text106 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  line-height: 1.5;
}
.home-icon24 {
  width: 35px;
  height: 35px;
  align-self: flex-end;
}
.home-row10 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: row;
}
.home-column16 {
  flex: 1;
  width: 500px;
  height: 270px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.home-column17 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row11 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: auto;
  display: flex;
  padding: 0px;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.home-icon26 {
  width: 35px;
  height: 35px;
}
.home-text107 {
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-text108 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  text-transform: capitalize;
}
.home-text109 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  line-height: 1.5;
}
.home-icon29 {
  width: 35px;
  height: 35px;
  align-self: flex-end;
}
.home-column18 {
  flex: 1;
  width: 500px;
  height: 270px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.home-column19 {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row12 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: auto;
  display: flex;
  padding: 0px;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.home-icon31 {
  width: 35px;
  height: 35px;
}
.home-text110 {
  font-size: 22px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.home-text111 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  text-transform: capitalize;
}
.home-text112 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  line-height: 1.5;
}
.home-icon33 {
  width: 35px;
  height: 35px;
  align-self: flex-end;
}
.home-text113 {
  fill: #8d969e;
  color: #8d969e;
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: left;
  font-weight: 500;
}
.home-text114 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 38px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-weight: 500;
}
.home-row13 {
  gap: var(--dl-space-space-sixunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  justify-content: flex-start;
}
.home-image13 {
  width: 100px;
  object-fit: cover;
}
.home-image14 {
  width: 100px;
  object-fit: cover;
}
.home-image15 {
  width: 100px;
  object-fit: cover;
}
.home-image16 {
  width: 100px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .home-column {
    padding: var(--dl-space-space-threeunits);
  }
  .home-column01 {
    padding-right: var(--dl-space-space-sixunits);
  }
  .home-phone-image {
    width: 514px;
  }
  .home-column02 {
    padding: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-image04 {
    flex: 1;
    width: 400px;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    border-radius: 18px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text016 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-column04 {
    padding: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-column05 {
    padding: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-column07 {
    padding: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-text082 {
    width: 700px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .home-column09 {
    height: auto;
    padding: var(--dl-space-space-sixunits);
    justify-content: flex-start;
  }
}
@media(max-width: 1200px) {
  .home-column01 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-title {
    font-size: 38px;
  }
  .home-subtitle {
    font-size: 16px;
  }
  .home-phone-image {
    width: 482px;
    height: 400px;
  }
  .home-text012 {
    font-size: 38px;
  }
  .home-row02 {
    margin-top: var(--dl-space-space-fourunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-column03 {
    width: 730px;
    padding-left: var(--dl-space-space-threeunits);
  }
  .home-text024 {
    font-size: 38px;
  }
  .home-text025 {
    font-size: 38px;
  }
  .home-text026 {
    font-size: 38px;
  }
  .home-text039 {
    font-size: 38px;
  }
  .home-image07 {
    width: 500px;
  }
  .home-text048 {
    font-size: 38px;
  }
  .home-row03 {
    margin-top: 192px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-column06 {
    width: 730px;
    padding-left: var(--dl-space-space-threeunits);
  }
  .home-text061 {
    font-size: 38px;
  }
  .home-text066 {
    font-size: 38px;
  }
  .home-text067 {
    font-size: 38px;
  }
  .home-text071 {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
  }
  .home-text074 {
    font-size: 24px;
  }
  .home-text077 {
    font-size: 38px;
  }
  .home-text082 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
  }
  .home-column08 {
    width: 730px;
    padding-left: 0px;
  }
  .home-text083 {
    font-size: 22px;
  }
  .home-text084 {
    font-size: 110px;
  }
  .home-text085 {
    align-self: stretch;
    line-height: 1.75;
  }
  .home-text086 {
    font-size: 22px;
  }
  .home-text087 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .home-text088 {
    font-size: 22px;
  }
  .home-text089 {
    font-size: 22px;
  }
  .home-text090 {
    font-size: 18px;
  }
  .home-text091 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  .home-text092 {
    font-size: 18px;
  }
  .home-text093 {
    font-size: 18px;
  }
  .home-text094 {
    font-size: 14px;
  }
  .home-text095 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }
  .home-text096 {
    font-size: 14px;
  }
  .home-column09 {
    height: auto;
  }
  .home-text097 {
    font-size: 38px;
  }
  .home-column10 {
    height: 300px;
  }
  .home-text099 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
  }
  .home-column12 {
    height: 300px;
  }
  .home-text102 {
    font-size: 16px;
  }
  .home-column14 {
    height: 300px;
  }
  .home-text105 {
    font-size: 16px;
  }
  .home-column16 {
    height: 300px;
  }
  .home-text108 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
  }
  .home-column18 {
    height: 300px;
  }
  .home-text111 {
    font-size: 16px;
  }
  .home-text113 {
    font-size: 16px;
  }
  .home-text114 {
    font-size: 28px;
  }
}
@media(max-width: 991px) {
  .home-desktop-menu {
    justify-content: flex-end;
  }
  .home-links {
    display: none;
  }
  .home-column {
    flex-wrap: wrap;
  }
  .home-image01 {
    flex: 1;
    width: 500px;
    height: auto;
    display: flex;
    border-radius: 18px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-row {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .home-column01 {
    flex: 1;
    padding-top: 0px;
  }
  .home-title {
    font-size: 42px;
    align-self: flex-start;
    text-align: center;
  }
  .home-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .home-stores {
    align-self: center;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-phone-image {
    flex: 1;
    height: 100%;
    display: none;
  }
  .home-column02 {
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-image04 {
    width: 400px;
  }
  .home-row02 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-column03 {
    width: 558px;
    align-self: center;
    align-items: flex-start;
    padding-left: 0px;
    justify-content: center;
  }
  .home-image05 {
    width: 267px;
    height: 1650px;
    display: flex;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text024 {
    font-size: 42px;
    text-align: left;
  }
  .home-text025 {
    font-size: 42px;
    align-self: flex-start;
    text-align: justify;
  }
  .home-text026 {
    font-size: 42px;
    align-self: flex-start;
    text-align: justify;
  }
  .home-text027 {
    text-align: left;
  }
  .home-text028 {
    text-align: left;
  }
  .home-text036 {
    align-self: flex-end;
  }
  .home-image06 {
    display: none;
  }
  .home-column04 {
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text039 {
    font-size: 42px;
  }
  .home-column05 {
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text048 {
    font-size: 42px;
    text-align: center;
  }
  .home-row03 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-column06 {
    width: 558px;
    align-self: center;
    align-items: flex-start;
    padding-left: 0px;
    justify-content: center;
  }
  .home-image09 {
    width: 267px;
    height: 1650px;
    display: flex;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text061 {
    font-size: 32px;
    text-align: left;
    text-transform: capitalize;
  }
  .home-text062 {
    font-size: 32px;
    text-align: left;
  }
  .home-text063 {
    font-size: 32px;
    font-style: normal;
    text-align: left;
    font-weight: 600;
  }
  .home-text064 {
    font-size: 32px;
    text-align: left;
  }
  .home-text066 {
    font-size: 32px;
    align-self: flex-start;
    text-align: justify;
  }
  .home-text067 {
    font-size: 32px;
    align-self: flex-start;
    text-align: justify;
  }
  .home-text068 {
    text-align: left;
  }
  .home-text069 {
    text-align: left;
  }
  .home-text070 {
    text-align: left;
  }
  .home-text071 {
    font-style: normal;
    text-align: left;
    font-weight: 600;
  }
  .home-text074 {
    align-self: flex-end;
  }
  .home-image10 {
    display: none;
  }
  .home-column07 {
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text077 {
    font-size: 42px;
    text-align: center;
  }
  .home-row04 {
    position: relative;
    flex-direction: column;
  }
  .home-column08 {
    flex: initial;
    width: auto;
    align-self: center;
    align-items: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 99px;
    justify-content: center;
  }
  .home-column09 {
    flex: 1;
    height: auto;
    padding: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text097 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-row06 {
    flex: 1;
    flex-direction: column;
  }
  .home-column10 {
    width: 100%;
  }
  .home-text099 {
    font-size: 18px;
  }
  .home-column12 {
    width: 100%;
  }
  .home-text102 {
    font-size: 18px;
  }
  .home-column14 {
    width: 100%;
  }
  .home-text105 {
    font-size: 18px;
  }
  .home-row10 {
    flex: 1;
    flex-direction: column;
  }
  .home-column16 {
    width: 100%;
  }
  .home-text108 {
    font-size: 18px;
  }
  .home-column18 {
    width: 100%;
  }
  .home-text111 {
    font-size: 18px;
  }
  .home-text113 {
    font-size: 18px;
  }
  .home-text114 {
    font-size: 32px;
  }
  .home-row13 {
    gap: 0;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .home-navigation-bar-home {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text006 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text007 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text008 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text009 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text010 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-column {
    flex: 1;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: column;
  }
  .home-image01 {
    flex: 1;
    width: 500px;
    height: auto;
    flex-wrap: wrap;
    align-self: center;
  }
  .home-column01 {
    padding: 0px;
  }
  .home-title {
    font-size: 32px;
  }
  .home-stores {
    flex-direction: row;
  }
  .home-column02 {
    flex: 1;
    flex-wrap: wrap;
    align-self: center;
    margin-right: 0px;
    flex-direction: column;
  }
  .home-text012 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
  }
  .home-text015 {
    color: var(--dl-color-primary-300);
    font-style: normal;
    font-weight: 700;
  }
  .home-image04 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-row02 {
    flex: 1;
    flex-direction: row;
  }
  .home-column03 {
    flex: 1;
    width: auto;
    align-items: flex-start;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
    justify-content: flex-start;
  }
  .home-image05 {
    width: 214px;
    height: 433px;
  }
  .home-text024 {
    font-size: 32px;
    text-transform: capitalize;
  }
  .home-text025 {
    font-size: 32px;
    text-transform: capitalize;
  }
  .home-text026 {
    color: var(--dl-color-danger-300);
    font-size: 32px;
    text-transform: capitalize;
  }
  .home-text027 {
    text-align: left;
  }
  .home-text029 {
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
  }
  .home-text030 {
    font-size: 24px;
  }
  .home-text031 {
    font-size: 24px;
    text-decoration: line-through;
  }
  .home-text032 {
    font-size: 24px;
  }
  .home-text033 {
    font-size: 24px;
    text-decoration: line-through;
  }
  .home-text034 {
    font-size: 24px;
  }
  .home-text036 {
    font-size: 32px;
    align-self: flex-end;
    font-style: normal;
    text-align: right;
    font-weight: 300;
  }
  .home-text037 {
    font-size: 24px;
  }
  .home-image06 {
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-column04 {
    flex: 1;
    flex-wrap: wrap;
    align-self: center;
    margin-right: 0px;
    flex-direction: column;
  }
  .home-text039 {
    font-size: 32px;
    text-align: center;
  }
  .home-text043 {
    width: 500px;
  }
  .home-column05 {
    flex: 1;
    flex-wrap: wrap;
    align-self: center;
    margin-right: 0px;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-text048 {
    font-size: 32px;
  }
  .home-row03 {
    flex: 1;
    flex-direction: row;
  }
  .home-column06 {
    flex: 1;
    width: auto;
    align-items: flex-start;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
    justify-content: flex-start;
  }
  .home-image09 {
    width: 214px;
    height: 433px;
  }
  .home-text061 {
    font-size: 32px;
    text-transform: capitalize;
  }
  .home-text062 {
    font-size: 32px;
    text-transform: capitalize;
  }
  .home-text063 {
    font-size: 32px;
    text-transform: capitalize;
  }
  .home-text064 {
    font-size: 32px;
    text-transform: capitalize;
  }
  .home-text066 {
    font-size: 32px;
    text-transform: capitalize;
  }
  .home-text067 {
    color: var(--dl-color-danger-300);
    font-size: 32px;
    text-transform: capitalize;
  }
  .home-text068 {
    text-align: left;
  }
  .home-text071 {
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
  }
  .home-text074 {
    font-size: 32px;
    align-self: flex-end;
    font-style: normal;
    text-align: right;
    font-weight: 300;
  }
  .home-text075 {
    font-size: 24px;
  }
  .home-image10 {
    margin-top: var(--dl-space-space-threeunits);
  }
  .home-column07 {
    flex: 1;
    width: 100%;
    padding: var(--dl-space-space-threeunits);
    flex-wrap: wrap;
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .home-text077 {
    font-size: 32px;
    align-self: center;
  }
  .home-text082 {
    width: auto;
  }
  .home-row04 {
    flex: initial;
    width: auto;
    align-self: center;
  }
  .home-row05 {
    flex-direction: column;
  }
  .home-image12 {
    display: none;
  }
  .home-column08 {
    flex: initial;
    width: 100%;
    align-items: center;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .home-column09 {
    flex: 1;
    height: auto;
    margin: 0px;
    padding: var(--dl-space-space-threeunits);
    align-self: center;
    flex-direction: column;
  }
  .home-text097 {
    font-size: 32px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-row13 {
    gap: var(--dl-space-space-unit);
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-navigation-bar-home {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-column {
    flex: 1;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .home-image01 {
    width: 100%;
  }
  .home-column01 {
    height: 796px;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .home-title {
    font-size: 24px;
    align-self: flex-start;
    text-align: center;
  }
  .home-subtitle {
    font-size: 12px;
    text-align: center;
  }
  .home-stores {
    align-items: center;
    flex-direction: column;
  }
  .home-column02 {
    flex: 1;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .home-text012 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  .home-text015 {
    color: var(--dl-color-primary-300);
    font-style: normal;
    font-weight: 700;
  }
  .home-row02 {
    flex-direction: column;
  }
  .home-column03 {
    flex: 1;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image05 {
    flex: 1;
    width: 199px;
    height: 396px;
    margin: var(--dl-space-space-twounits);
    display: flex;
    align-self: center;
  }
  .home-image06 {
    display: none;
  }
  .home-column04 {
    width: auto;
    height: 665px;
    flex-direction: row;
  }
  .home-text039 {
    font-size: 24px;
  }
  .home-text043 {
    width: 300px;
  }
  .home-image07 {
    width: 300px;
    height: 336px;
  }
  .home-column05 {
    flex: 1;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .home-text048 {
    font-size: 24px;
  }
  .home-image08 {
    width: 200px;
    border-radius: 18px;
  }
  .home-text051 {
    font-size: 20px;
  }
  .home-text053 {
    font-style: normal;
    font-weight: 600;
  }
  .home-text055 {
    color: var(--dl-color-danger-300);
    font-style: normal;
    font-weight: 600;
  }
  .home-text058 {
    font-style: normal;
    font-weight: 600;
  }
  .home-text060 {
    color: var(--dl-color-primary-100);
    font-style: normal;
    font-weight: 600;
  }
  .home-row03 {
    margin-top: var(--dl-space-space-sixunits);
    flex-direction: column;
  }
  .home-column06 {
    flex: 1;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image09 {
    flex: 1;
    width: 199px;
    height: 396px;
    margin: var(--dl-space-space-twounits);
    display: flex;
    align-self: center;
  }
  .home-image10 {
    display: none;
  }
  .home-column07 {
    flex: 1;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .home-text077 {
    font-size: 24px;
  }
  .home-text082 {
    font-size: 20px;
  }
  .home-row04 {
    flex: 1;
  }
  .home-image11 {
    width: 200px;
    height: auto;
  }
  .home-column08 {
    flex: 1;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-text083 {
    color: var(--dl-color-danger-300);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
  }
  .home-text085 {
    line-height: 1.75;
  }
  .home-text086 {
    font-size: 22px;
  }
  .home-text087 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .home-text088 {
    font-size: 22px;
  }
  .home-text089 {
    font-size: 22px;
  }
  .home-text090 {
    font-size: 18px;
  }
  .home-text091 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  .home-text092 {
    font-size: 18px;
  }
  .home-text093 {
    font-size: 18px;
  }
  .home-text094 {
    font-size: 14px;
  }
  .home-text095 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }
  .home-text096 {
    font-size: 14px;
  }
  .home-column09 {
    width: auto;
    height: auto;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text097 {
    text-align: center;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-text113 {
    font-size: 16px;
  }
  .home-text114 {
    font-size: 24px;
    text-align: center;
  }
}
