.faq-merchant-faq8 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.faq-merchant-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-merchant-container {
  align-self: stretch;
}
.faq-merchant-faq1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-merchant-trigger {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-faq1-question {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq-merchant-icons-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-icon {
  width: 24px;
  height: 24px;
}
.faq-merchant-icon02 {
  width: 24px;
  height: 24px;
}
.faq-merchant-container03 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-faq2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-merchant-trigger1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-faq2-question {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq-merchant-icons-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-icon04 {
  width: 24px;
  height: 24px;
}
.faq-merchant-icon06 {
  width: 24px;
  height: 24px;
}
.faq-merchant-container06 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-faq3 {
  width: 100%;
  align-items: flex-start;
}
.faq-merchant-trigger2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-faq2-question1 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq-merchant-icons-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-icon08 {
  width: 24px;
  height: 24px;
}
.faq-merchant-icon10 {
  width: 24px;
  height: 24px;
}
.faq-merchant-container09 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-faq4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-merchant-trigger3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-faq2-question2 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq-merchant-icons-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-icon12 {
  width: 24px;
  height: 24px;
}
.faq-merchant-icon14 {
  width: 24px;
  height: 24px;
}
.faq-merchant-container12 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-faq5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-merchant-trigger4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-faq1-question1 {
  font-style: normal;
  font-weight: 600;
}
.faq-merchant-icons-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-icon16 {
  width: 24px;
  height: 24px;
}
.faq-merchant-icon18 {
  width: 24px;
  height: 24px;
}
.faq-merchant-container15 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq-merchant-content {
  align-self: stretch;
  align-items: center;
}
.faq-merchant-text5 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}
.faq-merchant-text6 {
  font-size: 20px;
  text-align: center;
}

@media(max-width: 1600px) {
  .faq-merchant-content {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .faq-merchant-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
